@model SRV.ViewModel.ArticleSingleModel

<div style="padding-top:20px;">
    <div yqbang-logon="">
        <h4>
            <span class="fa fa-send"></span> <label>我有话说：</label>
        </h4>
        <form method="post" novalidate="novalidate">
            <div yqbang-comment-reply-location=""></div>
            <input type="hidden" name="articleSingleModel.Id" value="@Model.Id" />
            <input type="hidden" name="commentId" value="" />
            @Html.TextAreaFor(m => m.EditorBody, new
                     {
                         @class = "form-control",
                         id = "CommentContent",
                         required = "true",
                     })
            @Html.ValidationMessageFor(m => m.EditorBody)
            <div yqbang-comment-reply-reminder=""></div>
            <div class="submit" yqbang-logon="" style=" margin-top:15px;">
                <input class="btn btn-primary" type="submit" value="提交" yqbang-submit-once="" yqbang-problem-comment-submit="">
                <input class="btn btn-default" type="reset" value="重置">
            </div>
        </form>
    </div>
</div>
<div style="margin-top: 25px;">
    <div class="checkbox pull-left">
        <label>
            <input name="inCategory" id="inCategory" type="checkbox" value="true" yqbang-nav-in-category="">
            <input name="inCategory" type="hidden" value="false">
            在系列 <a href="/Article/Category-68"><span class="fa fa-folder"></span> C#语法</a>
            中的：
        </label>
    </div>
    <a class="btn btn-default btn-sm pull-right" href="/Article/Category-68?fulltext=1&amp;articleId=294">
        <span class="iconfont icon-pages"></span> 全系列阅读
    </a>
    <div style="clear:both; margin-bottom:20px; padding:10px 15px; border: 2px dashed #808080; border-radius:4px 5px;" yqbang-article-nav-container="">
        <div>
            <span class="fa fa-arrow-up"></span>
            上一篇：
            <a href="/Article/Single/@Model.PreArticleId" target="_blank">@Model.PreArticleTitle</a>
        </div>
        <div style="margin-top:6px;">
            <span class="fa fa-arrow-down"></span>
            下一篇：
            <a href="/Article/Single/@Model.NextArticleId" target="_blank">@Model.NextArticleTitle</a>
        </div>
    </div>
</div>
<a name="comments"></a>
<div class="appraise-status" style="clear:both; margin-top: 15px;">
    <span class="lead" style="margin-right:20px">
        <span class="fa fa-comments-o"></span>
        <span class="visible-sm-inline visible-md-inline visible-lg-inline">评论</span>
        <small>
            （ <span title="" data-original-title="精选评论" data-toggle="tooltip" yqbang-comment-of-article-count="">0</span> /
            <span title="" data-original-title="全部评论" data-toggle="tooltip" yqbang-comment-count=" ">@Model.CommentCount</span>
            )
        </small>
    </span>
    <div yqbang-comments-container="" data-toggle="modal">
        @if (Model.Comments.Count < 0)
        {
            throw new Exception("评论的数量不能小于一个非负数值");
        }
        else
        {
            if (Model.Comments.Count == 0)
            {
                foreach (var item in Model.Comments)
                {
                    @Html.Partial("Single/_PublishComment", item)
                }
            }
            else
            {
                for (int i = Model.Comments.Count - 1; i < Model.Comments.Count; i--)
                {
                    if (i < 0)
                    {
                        break;
                    }
                    @Html.Partial("Single/_PublishComment", Model.Comments[i], new ViewDataDictionary { { "i", i + 1 } })
                }
            }
        }    
    </div>
</div>
<script src="~/Css/Editor/kindeditor/kindeditor-all.js"></script>
<script src="~/Css/Editor/kindeditor/lang/zh-CN.js"></script>
<script>
    $(document).ready(function ()
    {
        KindEditor.ready(function (K)
        {
            window.editor = K.create('#CommentContent', {
                filterMode: true,
                htmlTags: {
                    font: ['color', 'size', 'face', '.background-color'],
                    span: [
                        '.color', '.background-color', '.font-size', '.font-family', '.background',
                        '.font-weight', '.font-style', '.text-decoration', '.vertical-align', '.line-height'
                    ],
                    div: [
                        'align', '.border', '.margin', '.padding', '.text-align', '.color',
                        '.background-color', '.font-size', '.font-family', '.font-weight', '.background',
                        '.font-style', '.text-decoration', '.vertical-align', '.margin-left'
                    ],
                    table: [
                        'border', 'cellspacing', 'cellpadding', 'width', 'height', 'align', 'bordercolor',
                        '.padding', '.margin', '.border', 'bgcolor', '.text-align', '.color', '.background-color',
                        '.font-size', '.font-family', '.font-weight', '.font-style', '.text-decoration', '.background',
                        '.width', '.height', '.border-collapse'
                    ],
                    'td,th': [
                        'align', 'valign', 'width', 'height', 'colspan', 'rowspan', 'bgcolor',
                        '.text-align', '.color', '.background-color', '.font-size', '.font-family', '.font-weight',
                        '.font-style', '.text-decoration', '.vertical-align', '.background', '.border'
                    ],
                    embed: ['src', 'width', 'height', 'type', 'loop', 'autostart', 'quality', '.width', '.height', 'align', 'allowscriptaccess'],
                    img: ['src', 'width', 'height', 'border', 'alt', 'title', 'align', '.width', '.height', '.border'],
                    'p,ol,ul,li,blockquote,h1,h2,h3,h4,h5,h6': [
                        'align', '.text-align', '.color', '.background-color', '.font-size', '.font-family', '.background',
                        '.font-weight', '.font-style', '.text-decoration', '.vertical-align', '.text-indent', '.margin-left'
                    ],
                    pre: ['class'],
                    hr: ['class', '.page-break-after'],
                    'br,tbody,tr,strong,b,sub,sup,em,i,u,strike,s,del': []
                },
                items: [
                    'source', 'code', 'cut', 'copy', 'paste', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                    'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                    'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                    'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage',
                    'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'pagebreak',
                    'anchor', 'link', 'unlink',
                ],
                afterBlur: function ()
                {
                    KindEditor.sync("#CommentContent");
                },

            });
        })
    })


    $(document).ready(function ()
    {
        $('form').submit(function ()
        {
            editor.sync();
        });
        $('form').validate({
            ignore: []
        });
    })

</script>
<div class="modal fade" tabindex="-1" role="dialog" id="CommentModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    <span class=" fa fa-info-circle"></span>友情提示
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    <span class=" fa fa-check"></span>恭喜！评论发布成功。
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<style>
    .comment-container {
        margin: 10px 0;
        clear: both;
        border-bottom: 1px solid #eee;
        padding-bottom: 5px;
    }

    .comment-body {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    a[name] {
        margin-top: -50px;
        padding-bottom: 50px;
    }

    .appraise-status-item {
        margin-left: 20px;
    }
</style>
