@model  SRV.ViewModel.CommentModel
<style>
    .comment-container {
        margin: 10px 0;
        clear: both;
        border-bottom: 1px solid #eee;
        padding-bottom: 5px;
    }

    .comment-body {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    a[name] {
        margin-top: -50px;
        padding-bottom: 50px;
    }

    .appraise-status-item {
        margin-left: 20px;
    }
</style>

<a data-name=@ViewData["i"] data-comment-id=@Model.Id zyf-comment-anchor=""></a>
<div class="clearfix comment-container" style="background-color: aliceblue;" data-has-handpicked="False" yqbang-problem-comment="">
    <div>
        <small class="text-muted" yqbang-datetime="">
            <span>
                <span class="fa fa-calendar"></span> <span yqbang-can-hide=""> @Model.PublishTime.ToString("yyyy年MM月dd日 hh点mm分")</span>
            </span>
        </small>
        <small class="text-primary" yqbang-reply-location="">--- 第 @ViewData["i"] 楼 ---</small>
        <a class="hide" href="/Article/Comment/Handpick?id=389" zyf-comment-of-article-handpick="">
            <span class="fa fa-flag"></span> 推荐
        </a>
        <span class="pull-right">
            <span title="" data-original-title="捐赠 1015.5" data-toggle="tooltip">
                <span class="fa fa-user-circle-o" style="color:#DCB962"></span>
                <a style="color:#DCB962" href="/User/18" zyf-show-contact="18">
                    @Model.Author.Name
                </a>
            </span>
            <a title="" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#" data-original-title="初级教师" data-toggle="tooltip">
                <span>④</span>
            </a>
        </span>
    </div>
    <div class="comment-body clearfix">
        @Html.Raw(@Model.Body)
    </div>
    <div class="appraise-status pull-right">
        <span class="hide" yqbang-comment-hide="">
            <a class="hide" style="margin-left:40px;" href="#new-comment" data-current-comment-layer="3"
               data-current-comment-id=@Model.Id yqbang-comment-delete="">
                <span class="fa fa-trash"></span> 删除
            </a>
            <a style="margin-left:40px;" href="#new-comment" data-current-comment-layer=@ViewData["i"]
               data-current-comment-id=@Model.Id yqbang-comment-reply="">
                <span class="fa fa-send"></span> 回复
            </a>
        </span>
        <a class="appraise-status-item" href="/Article/CommentAppraise?id=@Model.Id&amp;direction=1" data-author-id=@Model.Author.Id yqbang-comment-vote="">
            <span class="fa fa-thumbs-o-up text-success"></span> 支持
            <span yqbang-votes-count="">@Model.Appraises.Sum(a => a.SupportCount) </span>
        </a>
        <a class="appraise-status-item" href="/Article/CommentAppraise?id=@Model.Id&amp;direction=-1" data-author-id=@Model.Author.Id yqbang-comment-vote="">
            <span class="fa fa-thumbs-o-down text-success"></span> 反对
            <span yqbang-votes-count="">@Model.Appraises.Sum(a => a.OpposeCount) </span>
        </a>
    </div>
</div>




























