@model SRV.ViewModel.ArticleSingleModel
@{
    ViewBag.Title = Model.Title + "·一起帮";
}
<style>
    .yellow-highlight {
        background-color: #ffffe0;
        border: 2px dashed #eee;
        border-radius: 4px 5px;
    }

    .article-donate {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 15px;
        border: 2px dashed #eee;
        border-radius: 5px 7px;
        background-color: #fff;
    }

    .article-appraise {
        border: 1px,dashed;
        border-color: red;
        padding: 6px 14px 14px,0;
        display: inline-block;
        margin-top: 20px;
    }
</style>

<div class="container body-content">
    <div class="row" style="margin-top:15px">
        <div class="col-md-8">
            <img class="img-responsive" style="margin-bottom:20px;" src="~/Css/Image/BackgroundImage.jpg">
            <div class="text-primary h2-inline">
                <h2>
                    <span class="iconfont icon-pages"></span> @Model.Title
                </h2>
            </div>
            <hr>
            <span class="visible-xs-inline visible-sm-inline flag" style="top:60px;">
                <a zyf-show-widget="">
                    <span class="fa fa-window-restore"></span> 更多
                </a>
            </span>
            <div>
                <span>
                    <small class="text-muted" zyf-datetime="">
                        <span>
                            <span class="fa fa-calendar"></span>
                            <span zyf-can-hide=""> @Model.PublishTime</span>
                        </span>
                    </small>
                </span>
                <span class="pull-right">
                    <span yqbang-article-arthor=" ">
                        作者：<a href="/Article/User-1">@Model.AuthorName</a>
                    </span>
                    <a class="hide" style="margin-left:14px;" href="#" data-author-id="1" yqbang-article-edit="">
                        <span class="fa fa-pencil-square-o"></span> 修改
                    </a>
                </span>
                <div style="clear:both; word-break:break-all; padding-top:20px;">
                    @Html.Raw(@Model.Body)
                </div>
                <div class="clearfix" style="margin-top:10px;">
                    <div>
                        <label><span class="fa fa-tags"></span> 关键字：</label>
                        @foreach (var item in Model.Keywords)
                        {
                            <span class="badge">@item.Name</span>
                        }
                    </div>
                    @foreach (var item in Model.Appraises)
                    {
                        <div class="article-appraise appraise-status pull-right">
                            <a class="appraise-status-item text-success" href="/Article/Appraise?id=294&amp;direction=1"
                               yqbang-vote=" " data-toggle="modal" data-target="#singleModal">
                                <span class="fa fa-thumbs-o-up"></span>
                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">赞：</span>
                                <span yqbang-votes-agreecount="">@item.UPCount</span>
                            </a>
                            <a class="appraise-status-item text-muted" href="/Article/Appraise?id=294&amp;direction=-1"
                               yqbang-vote=" " data-toggle="modal" data-target="#singleModal">
                                <span class="fa fa-thumbs-o-down"></span>
                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">踩：</span>
                                <span yqbang-votes-disagreecount="">@item.DownCount </span>
                            </a>
                        </div>
                    }
                    <div style="padding-bottom:25px;" zyf-article-donate-container="">
                        <div style="clear:both;margin-left:auto;margin-right:auto;width:65px;height:65px;">
                            <div title="" class="yellow-highlight text-center" data-original-title="点击打赏"
                                 data-author-id="1" data-article-id="294" yqbang-article-donate-btn=" " data-toggle="modal" data-target="#donateModal">
                                <span class="iconfont icon-money credit fa-2x"></span><br>打赏
                            </div>
                        </div>
                        <div class="article-donate">
                            <span class="fa fa-smile-o fa-2x text-success pull-left" style="display:table-cell;"></span>
                            <div style="display:table-cell;">
                                <div>
                                    已收到打赏的
                                    <a title="" class="credit" href="/FAQ/Money" data-original-title="点击了解" data-toggle="tooltip">
                                        <span class="iconfont icon-money"></span> 帮帮币
                                    </a>
                                    ：
                                </div>
                                <div class="clearfix" zyf-problem-donors-container=""><small class="text-info">快来做第一个打赏的好心人吧，O(∩_∩)O~</small></div>
                            </div>
                            <hr>
                            <div class="text-muted" style="clear:both;">
                                <span class="fa fa-info-circle"></span>
                                你的 <span class="credit">打赏</span> 非常重要！<br>
                                为了<a href="/FAQ/Article#grant">保证文章的质量</a>，每一篇文章的发布，都已经消耗了作者 1 枚
                                <a title="" class="credit" href="/FAQ/Money" data-original-title="点击了解" data-toggle="tooltip">
                                    <span class="iconfont icon-money"></span> 帮帮币
                                </a>
                                。<br>
                                没有“帮帮币”，作者无法发布新的文章。
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;">
                        <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1616400257396">
                            <a class="bds_more" href="#" data-cmd="more"></a>
                            <a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a>
                            <a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a>
                            <a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a>
                            <a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a>
                            <a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a>
                        </div>
                    </div>
                </div>
                <div style="margin-top:20px;">
                    <div class="yellow-highlight" style="padding:5px 10px;">
                        <a title="" style="color:#354756" href="/FAQ/Ad#article" data-original-title="这是什么？" data-toggle="tooltip">投稿人推广：</a>
                        <a href="http://17bang.ren/Article/261">学编程，来 “源栈”！飞哥精品小班等着你……</a>
                    </div>
                </div>
                <a name="new-comment"></a>
                    @Html.Partial("Single/_Comment")
            </div>
        </div>
       @Html.Partial("Single/_Single")
    </div>
</div>
<script type="text/javascript" src="~/JsFile/ArticleSingle.js"></script>
<div class="modal fade" tabindex="-1" role="dialog" id="singleModal" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    <span class=" fa fa-info-circle"></span>友情提示
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    <span class=" fa fa-check"></span>感谢您的操作！(＾＿－)
                </p>
                <p>
                    本次操作会消耗你的
                    <span class="iconfont ke-icon-bold">
                        <strong style="color: #9acd32;">帮帮豆</strong>
                    </span>1枚，
                    同时为你增加1点
                    <span class="glyphicon glyphicon-tint" style="color:blue;">
                        <strong>帮帮点</strong>
                    </span>。
                </p>
                <br />
                <p> 另外，点赞和点踩都是不限次数的哟！</p>
            </div>
            <div class="modal-footer">
                <label>
                    <input type="checkbox" yqbang-click-close=" " /> 知道了，不再提示
                </label>
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="donateModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    <span class=" fa fa-info-circle"></span>友情提示
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    <span class=" fa fa-exclamation-triangle"></span>你的帮帮币不够啦。<a href="/Article/Account">如何获得</a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="UnableAppraiseModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    <span class=" fa fa-info-circle"></span>友情提示
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    <span class=" fa fa-exclamation-triangle"></span>自己不能评价自己的内容
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
