@model  SRV.ViewModel.ArticleNewModel
@{
    ViewBag.Title = "文章发布·一起帮";
    IDictionary<int, string> keyValues = new Dictionary<int, string>()
{
        {10,"默认分类"},
        {12,"ffff" },
        {20,"的程度成都"},
        {21,"得得得得的"},
        {22,"vvvvvvvv"},
        {23,"帆帆帆帆帆帆帆帆帆帆"},
        {24,"生活目标"},
        {25,"生活目标"}
    };
    IDictionary<int, string> keyValues1 = new Dictionary<int, string>()
{
        {0,"---使用新的广告---" },
        {10,"ddddd" },
        {11,"fffff"},
        {12,"kkkkk" }
    };
}
<div class="row">
    <div class="col-md-9">
        <h2 class="page-header">
            <span class="fa fa-pencil-square-o " aria-hidden="true"></span> 文章发布
        </h2>
        <div yqbang-old-draft-check="">
            <div class="yellow-highlight" style="padding:10px 10px 0 10px; margin-bottom:15px;">
                <p>你还有未使用的草稿（<a href="/Draft">查看全部</a>）。</p>
                <p>点击 <a href="/Article/Edit/54"><span class="fa fa-refresh"></span>这里</a> 使用最近一次生成的草稿。</p>
            </div>
        </div>
        @using (Html.BeginForm("New", "Article", FormMethod.Post))
        {
            <div class="form-group">
                <label> @Html.LabelFor(m => m.Title)：（* 必填）</label>
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "来一个醒目的标题吧" })
                @Html.ValidationMessageFor(m => m.Title)
            </div>
            <div class="form-group">
                <label>内容：（* 必填）</label>
                @Html.TextAreaFor(m =>m.Body, new { @class = "form-control", id = "contentBody", required = "true", style = "width:846px;" })
                @Html.ValidationMessageFor(m => m.Body)
            </div>
            <div class="form-group">
                <label>添加到系列：</label>
                <a class="pull-right" href="/Category/Manage"><span class="fa fa-cog"></span>  管理</a>
                <div class="input-group">
                    @Html.DropDownListFor(m => m.Category, new SelectList(keyValues, "Key", "Value"), "----", new { @class = "form-control" })
                    <a class="btn input-group-addon" data-toggle="modal" data-target="#new-category">
                        <span title="" class="fa fa-plus" data-original-title="添加" data-toggle="tooltip"></span> 新系列
                    </a>
                </div>
            </div>
            <div class="form-group">
                <label>关键字：（* 必填）</label>
                @Html.TextBoxFor(m => m.Keywords, new { @class = "form-control", placeholder = "用空格分割，总长度不超过25个字符" })
                @Html.ValidationMessageFor(m => m.Keywords)
            </div>
            <div class="form-group">
                <label>摘要：（* 建议填写）</label>
                @Html.TextAreaFor(m => m.Digest, new
                {
                    @class = "form-control",
               placeholder = "不填写的话，系统会截取文章前255字作为摘要显示",
                    rows = "3",
                    cols = "20"
                })
                @Html.ValidationMessageFor(m => m.Digest)
            </div>
            <div class="form-group">
                <a class="text-warning pull-right" zyf-ad-delete=""><span class="fa fa-remove"></span> 删除</a>
                <label>之前用过的广告：</label>
                @Html.DropDownListFor(m => m.Advertising, new SelectList(keyValues1, "Key", "Value"), "-----", new { @class = "form-control" })
            </div>
            <ul class="hide" zyf-ad-in-widget-history-url="">
                <li id="14">http://17bang.ren</li>
            </ul>
            <section class="yellow-highlight" style="padding:10px 20px; margin-bottom:20px;" zyf-ad-content-container="">
                <div class="text-right checkbox">
                    <label>
                        @Html.RadioButtonFor(m => m.ContentEdit, true)
                        <input name="AdContent.Edit" type="hidden" value="false"> 修改
                    </label>
                </div>
                <div class="form-group">
                    <label>文字内容：（* 必填）</label>
                    @Html.TextBoxFor(m => m.Content, new { @class = "form-control", placeholder = "最多不超过24个字符" })
                    @Html.ValidationMessageFor(m => m.Content)
                </div>
                <div class="form-group">
                    <label>链接：（* 必填）</label>
                    @Html.TextBoxFor(m => m.ContentUrl, new { @class = "form-control", placeholder = "http或https开头的网址" })
                    @Html.ValidationMessageFor(m => m.ContentUrl)
                </div>
            </section>
            <div class="submit">
                <input class="btn btn-primary loading" type="submit" value="发布" zyf-exclude-draft="" zyf-submit-once="">
                <button title="" class="btn btn-default" type="button" data-original-title="存为草稿" data-toggle="tooltip" zyf-submit-once=""
                        zyf-write-draft="">
                    保存
                </button>
                <small class="text-success" zyf-article-draft-remind=""></small>
                <input name="draftId" type="hidden" zyf-draft-hide-id="">
            </div>
        }
    </div>
    <div class="col-md-2 col-md-offset-1" style=" margin-top:40px">
        @Html.Partial("ArticleNewPartial")
    </div>
</div>
<link rel=" stylesheet " href="~/Css/Css/StyleSheet1.css" />
<script src="~/Css/Editor/kindeditor/kindeditor-all.js"></script>
<script src="~/Css/Editor/kindeditor/lang/zh-CN.js"></script>
<script>
    KindEditor.ready(function (K)
    {
        window.editor = K.create('#contentBody', {
        });     
    });
    $(document).ready(function ()
    {
        $('form').submit(function ()
        {
            editor.sync();
        })
            $('form').validate({
            //rules: {
            //    'editor': {
            //        required: true
            //    }
            //},         
            ignore: []
        });
    });
</script>

