
@model  SRV.ViewModel.RegisterModel
@{
    ViewBag.Title = "注册.一起帮";
}
<style>
    .field-validation-error {
        color: red;
        font-size: 10px;
    }

    .field-validation-error {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

        .field-validation-error::before {
            content: "\f056";
        }
</style>
<h1 class="text-info " style="margin-top:30px;margin-bottom :10px;">
    <span class="fa fa-registered" aria-hidden="true"></span>
    注册
</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm("Home", "Register", FormMethod.Post))
            {
                <div class="form-group mt-4" style="border:1px dashed ;border-radius :5px; background-color :#ffffe0 ;padding :0 10px 0 10px; margin-top:18px;">
                    <div class="text-right" style="padding-top :10px">
                        <a href="/FAQ/Account#invite" target="blank ">
                            <span class="fa fa-question-circle" aria-hidden="true"></span>
                            为什么需要邀请
                        </a>
                    </div>
                    <div class="form-group">
                        <label>
                            邀请人:  (*必填 ，
                            <a href="/User/Inviters" title="点击由系统推荐">没有邀请人</a> )
                        </label>
                        @Html.TextBoxFor(m => m.InvitedByName, new { @class = "form-control", placeholder = "他的用户名，模糊查询只能从头开始",id="InvitedByName"})
                        <div style=" display:none;">
                            @*@foreach (var item in )
                            {

                            }*@
                        </div>
                        @Html.ValidationMessageFor(m => m.InvitedByName)
                    </div>
                    <div style="margin-top :30px;" class="form-group ">
                        <label>邀请码:  （*必填）</label>
                        @Html.TextBoxFor(m => m.InvitedCode, new { @class = "form-control", placeholder = "4位数字" })
                        @Html.ValidationMessageFor(m => m.InvitedCode)
                    </div>
                </div>
                <div class="form-group">
                    <label>用户名:  （*必填）</label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "登录用户名，可修改，不能重复",id="UserName"})
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="form-group">
                    <label>密码:  （*必填）</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "不少于4个字符" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="form-group ">
                    <label>验证密码:  (*必填）</label>
                    @Html.PasswordFor(m => m.ComfirmPassword, new { @class = "form-control", placeholder = "和密码相同" })
                    @Html.ValidationMessageFor(m => m.ComfirmPassword)
                </div>
                <div class="form-group ">
                    <label>验证码:  (*必填）</label>
                    <br />
                    @Html.TextBoxFor(m => m.Captcha, new
                    {
                        style = "width :100px;display:inline ",
                        size = "4",
                        @class = "form-control d-inline",
                        id = "CaptchaCode",
                        yqbang_captcha = " "
                    })
                    <img id="imgCode" style="height: 24px; vertical-align:middle; display:none;" />
                    <span style=" margin-left: 5px; margin-top: 10px; display:none;" yqbang_refresh_captcha=" ">
                        <a style=" font-size:12px;">看不清，换一张</a>
                    </span>
                    <span yqbang_captcha_hide=" ">点击输入框显示</span>
                    <div>
                    @Html.ValidationMessageFor(m => m.Captcha)
                </div>
                </div>
                <input type="submit" class="btn btn-primary" value="提交" />
                <button type="reset" style="background-color: #e6e6e6" class="btn btn-default">重置</button>
                <a href="/Log/On?prepage=%2fRegister%2f" class="btn pull-right">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    登录
                </a>
            }
        </div>
        <div class="col-md-6 col-md-offset-1">
            @Html.Partial("RegisterPartial")
        </div>
    </div>
    <hr />
</div>
<script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="~/JsFile/Register.js"></script>



